<div class="container" role="main">

  <div class="center">
    <div class="pic">
      <img src="http://www.fillmurray.com/300/300">
    </div>
  </div>


<h1>Hello, <%= @user.name %></h1>

<% if @user.admin %>
  <h3>ADMIN</h3>
<% else %>
  <h3>GUEST</h3>
<%end%>

<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>

<%= link_to 'Edit User', [:edit, @user] %>

</div>