<div class="pic">
  <img src="https://castlefordschools.files.wordpress.com/2015/04/title-clipart-kinrbxpiq.png" height="250">
</div></br></br>

<h1>Listing Attractions</h1>

<br>

  <%= link_to "New Attraction", new_attraction_path %>

<br><br>



<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Tickets</th>
    <th>Details</th>
  </tr>


<% @attractions.each do |attraction| %>
  <tr>
    <td><%= attraction.name %></td>
    <td><%= attraction.tickets %></td>
    <% if current_user.admin %>
      <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></td>
    <% else %>  
      <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
    <% end %>  
  </tr>
<% end %>  
</table>